@model WebApplication3.Models.FeesModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>FeesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             

            <div class="form-group">
                <label asp-for="fees_date" class="control-label"></label><font color="red">(*)</font>
                <input id="today" disabled  class="form-control" />
                <span asp-validation-for="fees_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student_name" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="student_name"  class="form-control" />
                <span asp-validation-for="student_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father_name" class="control-label"></label>
                <input asp-for="father_name" class="form-control" />
                <span asp-validation-for="father_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" id="mail" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input onchange="calculateAge()" class="form-control" />
                <span style="width:150px;height:20px;display:block;border: 1px solid black;" id="result"></span>
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student_id" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="student_id" readonly class="form-control" />
                <span asp-validation-for="student_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course_name" class="control-label"></label><font color="red">(*)</font>
                <input list="dt" class="form-control" />
                <datalist id="dt">
                    <option value="ADCA"></option>
                    <option value="DCA"></option>
                    <option value="DTP"></option>
                    <option value="O LEVEL"></option>
                    <option value="CCC"></option>
                    <option value="WEB DESIGNING"></option>
                </datalist>
                <span asp-validation-for="course_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="installment" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="installment" class="form-control" />
                <span asp-validation-for="installment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" type="file" name="postedFiles" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fees" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="fees" class="form-control" />
                <span asp-validation-for="fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    const date = new Date();
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    // This arrangement can be altered based on how we want the date's format to appear.
    let currentDate = `${day}/${month}/${year}`;
    document.getElementById("today").value = currentDate;
    // document.getElementsByClassName("td").innerHTML = currentDate;


    function calculateAge() {
        var dobInput = document.getElementById('dob').value;
        var dob = new Date(dobInput);

        // console.log(dobInput)

        if (isNaN(dob.getTime())) {
            alert("Invalid date of birth. Please enter a valid date in the format YYYY-MM-DD.");
            return;
        }

        var today = new Date();
        var age = today.getFullYear() - dob.getFullYear();
        // var age = today.getFullYear();
        // var age = dob.getFullYear();
        // console.log(age);
        // Adjust age if birthday hasn't occurred yet this year
        if (today.getMonth() < dob.getMonth() || (today.getMonth() === dob.getMonth() && today.getDate() < dob.getDate())) {
            age--;
        }

        // document.getElementById('result').innerHTML = "Your age is: " + age + " years.";
        document.getElementById('result').innerHTML = age;
        // console.log('age');
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () { 
        $('#student_name').blur(function () {
            $('#student_id').val(get_first_char($('#student_name').val()) + $('#mobile').val())
        })

        $('#mobile').blur(function () {
            $('#student_id').val(get_first_char($('#student_name').val()) + $('#mobile').val())
        })
    })
</script>

<script>
    function get_first_char(s) {
        let str = "", temp = "";
        for (let i = s.length - 1; i > 0; i--) {
            if (s[i].match(/[a-zA-Z]/) && s[i - 1] === ' ') {
                temp += s[i];
            }
        }
        str += s[0];
        for (let i = temp.length - 1; i >= 0; i--) {
            str += temp[i];
        }
        return str;
    }
</script>

@* 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $('#Country').change(function () {
                var selectedCountry = $("#Country").val();
                var regionsSelect = $('#Region');
                regionsSelect.empty();
                if (selectedCountry != null && selectedCountry != '') {
                    $.getJSON('@Url.Action("GetRegions")', { iso3: selectedCountry }, function (regions) {
                        if (regions != null && !jQuery.isEmptyObject(regions))
                        {
                            regionsSelect.append($('<option/>', {
                                value: null,
                                text: ""
                            }));
                            $.each(regions, function (index, region) {
                                regionsSelect.append($('<option/>', {
                                    value: region.Value,
                                    text: region.Text
                                }));
                            });
                        };
                    });
                }
            });
    </script> *@


