@model WebApplication3.Models.FeesModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fees Submit</h1>

@* <h4>FeesModel</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label"></label><font color="red"></font>
            <input type="text" id="stuid" placeholder="search by stu id" class="form-control" />
        </div>
    </div>
</div>
    <form asp-action="Create" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fees_date" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="fees_date" id="date" class="form-control" />
                <span asp-validation-for="fees_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student_name" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="student_name"  class="form-control" />
                <span asp-validation-for="student_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="father_name" class="control-label"></label>
                <input asp-for="father_name" class="form-control" />
                <span asp-validation-for="father_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" id="mail" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
    </div> 
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="dob" class="control-label"> </label>&nbsp;<span id="result"></span>
                <input asp-for="dob"  onchange="calculateAge()" id="dob" class="form-control" />
                
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student_id" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="student_id" readonly class="form-control" />
                <span asp-validation-for="student_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course_name" class="control-label"></label><font color="red">(*)</font>
                <select asp-for="course_name" class="form-control">
                        <option value="ADCA">ADCA </option>
                    <option value="DCA">DCA</option>
                    <option value="DTP">DTP</option>
                    <option value="O LEVEL">O LEVEL</option>
                    <option value="CCC">CCC</option>
                    <option value="WEB DESIGNING">WEB DESIGNING</option>
                    <option value="SOFTWARE DEVELOPMENT">SOFTWARE DEVELOPMENT</option>
                </select>
                <span asp-validation-for="course_name" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="installment" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="installment" class="form-control" />
                <span asp-validation-for="installment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" type="file" name="postedFiles" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fees" class="control-label"></label><font color="red">(*)</font>
                <input asp-for="fees" readonly class="form-control" />
                <span asp-validation-for="fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
    </div>
</div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    // AGE CALCULATION AS DOB
    function calculateAge() {
        // Get the date of birth value from the input
        var dobInput = document.getElementById("dob");
        var dobValue = dobInput.value;
 
        // Calculate age
        var dob = new Date(dobValue);
        var today = new Date();

        var years = today.getFullYear() - dob.getFullYear();
        var months = today.getMonth() - dob.getMonth();

        // Adjust age if birthday hasn't occurred yet this year
        if (today.getDate() < dob.getDate()) {
            months--;
        }

        // If months go negative, adjust years and months accordingly
        if (months < 0) {
            years--;
            months = 12 + months;
        }

        // Display the result
        var resultElement = document.getElementById("result");
        resultElement.textContent = "Age: " + years + " years, " + months + " months";
    }
    // AGE CALCULATION AS DOB

</script>

<script>

    // FETCHING CURRENT DATE AND DOB DATE
    document.getElementById('date').value = formatDate();
    document.getElementById('dob').value = formatDate();
    function padTo2Digits(num) { return num.toString().padStart(2, '0'); }
    function formatDate(date = new Date()) { return [ date.getFullYear(), padTo2Digits(date.getMonth() + 1), padTo2Digits(date.getDate()), ].join('-'); }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>


    // GENERATING STUDENT ID AUTOGENERATE
    $(function () { 
        $('#student_name').keyup(function () {
            $('#student_id').val(get_first_char($('#student_name').val()) + $('#mobile').val())
        })
        $('#mobile').keyup(function () {
            $('#student_id').val(get_first_char($('#student_name').val()) + $('#mobile').val())
        })
    })
    // GENERATING STUDENT ID AUTOGENERATE



    // COURSE FEE SETTING
    $(function () {

        $('#course_name').change(function () {
            if ($('#course_name').val() == "ADCA") { $('#fees').val("500") }
            if ($('#course_name').val() == "DTP") { $('#fees').val("500") }
            if ($('#course_name').val() == "DCA") { $('#fees').val("500") }
            if ($('#course_name').val() == "CCC") { $('#fees').val("800") }
            if ($('#course_name').val() == "O LEVEL") { $('#fees').val("1200") }
            if ($('#course_name').val() == "WEB DESIGNING") { $('#fees').val("3000") }
            if ($('#course_name').val() == "SOFTWARE DEVELOPMENT") { $('#fees').val("3000") }
        })
    })
    // COURSE FEE SETTING



</script>

<script>
    function get_first_char(s) {
        let str = "", temp = "";
        for (let i = s.length - 1; i > 0; i--) {
            if (s[i].match(/[a-zA-Z]/) && s[i - 1] === ' ') {
                temp += s[i];
            }
        }
        str += s[0];
        for (let i = temp.length - 1; i >= 0; i--) {
            str += temp[i];
        }
        return str;
    }
</script> 

<script> 

    $("#stuid").change(function (event) {
        debugger
        var stu_id = $("#stuid").val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getDetails", "Fees")',
            data: { "stu_id": stu_id },
            success: function (data) 
            { 
                alert(data.student_name); 
            },
            error: function (error) { console.log('Error fetching data: ' + error); }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>